@page
@model PrizeTracker.Pages.Tournaments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 style="margin: 2%;">Delete</h1>

<h3 style="margin: 2%;">Are you sure you want to delete this?</h3>
<div>
    <h4 style="margin: 2%;">Tournament</h4>
    <hr />
    <dl class="row" style="margin: 2%;">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.TournamentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.TournamentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.PrizePool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.PrizePool)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.NumberOfPlayers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.NumberOfPlayers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Winner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Winner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.RunnerUp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.RunnerUp)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tournament.ID" />
        <input style="margin: 2%;" type="submit" value="Delete" class="btn btn-danger" /> |
        <a style="margin: 2%;" asp-page="./Index">Back to List</a>
    </form>
</div>
